
{% if user.is_authenticated %}
Logged in as {{ user.username }}
<form method="POST" action="{% url 'logoutuser' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% else %}
<a href="{% url 'signupuser' %}">Sign up</a>
<a href="{% url 'loginuser' %}">Login</a>

{% endif %}
<br>
{% if cart_data %}
{% for k,v in cart_data.items %}
<br>{{ v.product.product_name }}: {{ v.qty }}
{% endfor %}
{% else %}
Nie dodales jeszcze nic do koszyka!
{% endif %}

<br><br>

{% block content %}{% endblock %}